body {
    background-color: #D9EAD3;
}

p{
    font-size: 20px;
}

p.username{
    margin-top: 40px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse; 
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 0 auto 25px;
    padding: 20px;
    width: 850px;
    height: 300px;
    resize: none;
    font-size: 30px;
    border-radius: 6px;
    background: #eaedf2;
}

textarea.user_text{
    border: none;
    background-color: #d9ead3;
    color: inherit;
}

.button{
    margin: 10px auto;
    text-align: center;
}

.Form-Btn {
    border-radius: 6px;
    padding: 10px 0;
    width: 140px;
    display: inline;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.Form-Btn:hover {
    background-color: #3a9e85;
}

iframe{
    width:0px;
    height:0px;
    border:0px;
}

.border{
    padding: 10px 20px 10px;
    border: 1px solid #000000;
}

hr{
    margin: 40px 0 30px;
}

.error_class{
    text-align: center;
}

section{
    margin: 5px 20%;
    display: flex;
    flex-direction: column;
}

.btn_ao_a{
    margin: 0px auto 5px 0;
}

.comment p{
    margin: 0 0 0 60px;
}

#hrhr{
    margin: 10px 0 10px;
}