
body{
    background-color: #d9ead3;
}

table{
    margin: 100px auto 0;
}

td{
    font-size: 25px;
    white-space: nowrap;
}

input[type="text"], input[type="password"]{
    font-size: 25px;
    height: 35px;
    width: 300px;
    border-radius: 6px;
    background: #eaedf2;
}

input[type="submit"]{
    display: block;
    margin: 0px auto;
    padding: 15px 55px;
    font-size: 20px;
    width: 280px;
    height: 80px;
    border-radius: 6px;
    background: #5bc8ac;
    color: #fff;
}