body {
    text-align: center;
    background-color: #d9ead3;
}

.content {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.heading-margin {
    margin-top: 32px;
}

.profile-image {
    margin: 16px 0 0;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.button{
    border-radius: 6px;
    margin: 30px auto;
    padding: 10px 0;
    width: 140px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: #3a9e85;
}

hr{
    margin-top: 30px;
}